body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 10;
}
